.component-item{
    color: #7F7F7F;
    font-size: 32px;
    text-align: center;

    &__text{
        line-height: 3;
    }
}
.avatar-panel{
  width: 100vw;
  height: 32vw;
  text-align: center;
  &__avatar{
    margin:0 auto;
  }
}