
@import "~taro-ui/dist/style/index.scss";
.header-content {
  width: 100vw;
  height: 12vw;
  padding-top: 5%;
  background-color: $color-brand-light;

  &__title {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
  }

  &__desc {
    margin-top: 12px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
  }
  &__img {
    width: 3.632rem;
    padding-left: 5%;
  }
}